.select-rating-correlation {
    width: 50px;
    height: 20px;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
}

.select-rating-est {
    margin: 15px;
}

.select-rating-correlation option {
    margin: 5px;
}

.control-panel-db {
    font-size: 20px;
    margin-left: 15px;
    top: 100px;
    position: relative;
    left: 1500px;
    background-color: #afafc2;
    width: 700px;
    border-style: solid;
    padding-left: 30px;
}

.db-buttons-block {
    display: grid;
}

.db-buttons-block > button {
    width: 200px;
    padding: 5px;
    margin-top: 15px;
}

.selections-container {
    padding-left: 50px;
    margin: 2px;
    width: 1200px;
    display: grid;
    align-content: center;
}

.selections-container > label {
    margin: 5px;
}

.select-rating-est {
    padding: 3px;
}

.data-table {
    top: 20px;
    display: grid;
    position: relative;
}

.label-span-field {
    font-weight: bold;
}

.data-span {
    font-weight: bold;
    margin-left: 10px;
    color: #09778f;
    font-size: 25px;
}

.no-data-span {
    font-size: 25px;
    color: #8b8b9a;
}

.favorite-button {
    width: 180px;
    height: 50px;
    margin-left: 5px;
    background-color: #0fbce1;
    color: #ffffff;
}

.favorite-button-delete {
    width: 150px;
    margin-left: 5px;
    background-color: #de2d85;
}

.favorite-mark {
    color: #0aa1a1;
    font-size: 35px;
    font-weight: bold;
}

.no-db-block {
    position: relative;
    left: 1600px;
    top: 500px;
    padding: 10px;
    font-size: 25px;
    display: grid;
}

.no-db-block > button {
    margin: 10px;
    width: 170px;
    height: 30px;
}