.vk-search-form {
    width: 500px;
    height: fit-content;
    border: #508181;
    border-style: solid;
    display: grid;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    font-size: 25px;
    font-family: "Segoe UI";
}

.vk-search-form > input {
    width: 300px;
}

.vk-search-form > button {
    width: 300px;
    margin-top: 20px;
}