.comment-vk {
    display: grid;
    position: relative;
    margin-top: 50px;
}

.comment-text {
    width: 500px;
    height: 200px;
    font-size: 20px;
    position: relative;
    resize: none;
    display: block;
}
.comment-text-disabled {
    width: 500px;
    font-size: 20px;
    height: 200px;
    pointer-events: none;
    background-color: #c0c0c4;
}